@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #1e1e1f;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: samarkan;
  src: url('../samarn.ttf');
}

.font-samarkan {
  font-family: samarkan;
}

.font-caveat {
  font-family: 'Caveat', cursive;
}

.bg-image {
  background-image: url('/cover1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.bg-image2 {
  background-image: url('/cover2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.bg-image3 {
  background-image: url('/cover3.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.bg-image4 {
  background-image: url('/cover4.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.bg-image5 {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.57), #222), url('/cover5.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-entry {
  background-image: url('/asset-entry.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}